body::-webkit-scrollbar-button {
  /* height: 12px; */
}
body::-webkit-scrollbar {
  width: 10px;
}
/* Track */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #888888;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
body::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

#cart1 {
  margin-top: 100px;
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  /* background: linear-gradient(#5adaff 0, #14141a); */
  padding-top: 30px;
  padding-bottom: 30px;
}
#cart11 {
  margin-left: 90px;
  width: 55%;
  /* border: 1px red solid; */
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 4px;
  background-color: white;
}
#cart12 {
  margin-left: 70px;
  width: 450px;
  /* border: 1px blue solid; */
  margin-right: 40px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 650px;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
}
#cart111 {
  /* border:1px solid black; */
  height: auto;
}
#cart112 {
  /* border:1px solid black; */
  height: auto;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
#cart113 {
  /* border:1px solid black; */
  height: auto;
  display: flex;
  justify-content: space-between;
}
#cart114 {
  /* border:1px solid black; */
  height: 200px;
}
#k1 {
  margin-left: 100px;
}
#k2 {
  text-align: right;
  margin-right: 10px;
}

#cart1121 {
  /* border: 1px solid red; */
  height: auto;
}

#cart1122 {
  /* border: 1px solid blue; */
  height: auto;
  margin-left: 50px;
}
.bigbox {
  width: 300px;
  border-radius: 0px;
  border: 1px solid black;
  height: 35px;
  margin-bottom: 10px;
  /* margin-left: 20px; */
}
#hhh {
  /* height:5px; */
  width: 100%;
  background-color: blue;
}

#card113 {
  /* border: 1px solid yellow; */
  /* padding: 20px; */
  display: none;
}
#cart113 {
  display: flex;
  margin-top: 10px;
  /* border: 1px solid orange; */
}

.smallbox {
  width: 150px;
  border-radius: 0px;
  border: 1px solid black;
  height: 35px;
  margin-bottom: 10px;
  /* margin-left: -180px; */
}
#cart1123 {
  margin-right: 100px;
}
input {
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#address {
  display: none;
  justify-content: space-around;
  /* border: 1px solid red; */
  margin-top: 20px;
  margin-bottom: 50px;
}

#address1 {
  display: flex;
  /* border: 1px solid orange; */
}

#tc:hover {
  text-decoration: underline;
}
#tc {
  margin-left: 200px;
  color: #888888;
  font-size: 12px;
}
#pp:hover {
  text-decoration: underline;
}
#pp {
  margin-left: 30px;
  color: #888888;
  font-size: 12px;
}
.sum {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
}
#cart111 > h1 {
  text-align: left;
  margin-bottom: 10px;
}
#cart111 > p {
  text-align: left;
  margin-bottom: 5px;
  font-weight: 600;
}
#cart1121 > p {
  /* margin-left:-300px; */
  text-align: left;
}
#cart1122 > p {
  /* margin-left:-300px; */
  text-align: left;
}
#sm {
  margin-bottom: 5px;
  font-weight: 600;
}
#pm {
  margin-bottom: 5px;
  font-weight: 600;
}

#ex {
  margin-bottom: 20px;
}

#hk {
  margin-bottom: 10px;
}

#fp {
  margin-bottom: 20px;
}
#hk1 {
  margin-bottom: 20px;
}
#ad {
  margin-left: 130px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
}
#cdd {
  margin-top: 20px;
}
#ba {
  margin-bottom: 5px;
  font-weight: 600;
}
.os {
  margin-bottom: 5px;
  font-weight: 600;
}
#in {
  margin-top: 10px;
  font-size: 12px;
}

#card {
  display: flex;
  margin-top: 10px;
  /* border: 1px solid black; */
  margin-bottom: 10px;
}

#card1 {
  width: 20%;
  /* border: 1px solid black; */
  height: auto;
}
#card1 > img {
  width: 100%;
}

#card2 {
  width: 60%;
  /* border: 1px solid black; */
  margin-left: 10px;
  font-size: 14px;
}
#card3 {
  width: 30%;
  margin-left: 60px;
  text-align: right;
  margin-right: 10px;
  /* border: 1px solid black; */
}
#designer {
  color: #888888;
}
.bold {
  font-weight: 600;
}

#aa {
  height: 60vh;
  overflow-y: scroll;
}

#aa::-webkit-scrollbar-button {
  height: 50px;
}
#aa::-webkit-scrollbar {
  width: 5px;
}
/* Track */
#aa::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
#aa::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #888888;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
#aa::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

#card {
  display: flex;
  margin-top: 10px;
  /* border: 2px solid orange; */
  height: 130px;
}
#card1 {
  /* border:1px solid black; */
  width: 16%;
  padding: 10px;
  display: flex;
  align-items: start;
  justify-content: start;
  margin-left: 10px;
  overflow-y: hidden;

  height: 130px;
}
#card1 > img {
  /* border:1px solid black; */
  width: 100%;
}

#card2 {
  /* border:1px solid red; */
  width: 84%;
  height: 130px;
}

#card21 {
  display: flex;
  /* border:1px solid purple; */
  justify-content: space-between;
  margin-bottom: 45px;
}

#card22 {
  /* border:1px solid red; */
  display: flex;
  justify-content: space-between;
}

#card211 {
  /* border:1px solid black; */
  text-align: left;
  margin-left: 10px;
}
#card211 > p {
  margin-bottom: 5px;
}
#card212 {
  /* border:1px solid black; */
  text-align: right;
  margin-right: 10px;
}

#card221 {
  /* border:1px solid black; */
  margin-top: -40px;
}
#card222 {
  /* border:1px solid black; */
  margin-top: -40px;
}

.hr {
  background-color: #888888;
}

#cart111 > h1 {
  text-align: left;
  margin-bottom: 30px;
}
#it {
  display: flex;
  margin-left: 152px;
  /* border: 1px solid black; */
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 600;
  /* color: #888888; */
  letter-spacing: 1px;
}
#it > p ~ p {
  margin-right: 10px;
}

#wl {
  margin-left: 9px;
  border: 0px;
  background-color: white;
  text-decoration: underline;
}
#remove {
  margin-left: 20px;
  border: 0px;
  background-color: white;
  text-decoration: underline;
}

#del {
  margin-right: 10px;
  border: 0px;
  background-color: white;
  text-decoration: underline;
}
#add {
  margin-right: 10px;
  border: 0px;
  background-color: white;
  text-decoration: underline;
}
#price {
  margin-bottom: 80px;
}
#sprice {
  margin-right: 10px;
  text-decoration: line-through;
  color: #888888;
}

#PO {
  margin-top: 10px;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #14141a 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 45px;
  width: 400px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

#PO:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #14141a 0 -3px 0 inset;
}

#PO:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #14141a 0 -3px 0 inset;
  transform: translateY(-2px);
}

#PO:active {
  box-shadow: #14141a 0 3px 7px inset;
  transform: translateY(2px);
}
